<div class="center hero-unit">
  <h2><span style="font-size:14px; font-weight:bold">About</br></span>We Are Utah Tech</h2>
  <body>
  	<p>Big things are happening in Utah. Inspired by the thriving tech community in New York (link), We Are Utah Tech features the people who are making it happen here in Utah. </p>

  	<p>Our goal is to embrace the local tech scene and showcase all it has to offer. From designer to coder to entrepreneur, we know you are doing amazing things and others want to know about them. We'll feature new projects, people and designs frequently.
	</p>

    <p>General expectations for We Are Utah Tech peeps:
		<ul class="a">
			<li>some published work or portfolio available online</li>
			<li>you are local!</li>
			<li>willing to upload a bio and pic</li>
			<li>you are active in the tech community</li>
			<li>you love lamp</li>
		</ul>
	</p>
	
	<p>We hope you'll take a few minutes to browse the site, check out new projects, and a possibly meet your next tech partner. This site was made by @sethhoward, @jeffpotter, and @kyleclegg.</p>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  
	</body>
</div>
