<script src="/assets/app/data.js"></script>
<script src="/assets/app/vendors/require.js" data-main="assets/app/main"></script>

<% if user_signed_in? %>
	<p>Hello <%= current_user.email %></p>
	<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
<% else %>
	
<% end %>

<script type="text/javascript">
	//old stuff
	//<%= link_to "Sign Up", new_user_registration_path %>
	//<%= link_to "Log In", new_user_session_path %>
	window.user = <%= current_user.to_json.html_safe %>;
	console.log('<%= destroy_user_session_path %>');
	console.log('<%= new_user_registration_path %>');
	console.log('<%= new_user_session_path %>');
</script>
