<div>
	<div class="wrap">
		<div class=left_col>
			<h1>Join We Are Utah Tech</h1>
			<div class="text">
				<p>Become a part of the local tech scene and help us showcase what Utah has to offer.</p>
				<p>Doing big things in the 801? Include links to relevant sites, apps, or profiles that showcase your work, open-source contributions, and community involvement. We'll contact you soon for a brief Q&A or hangout.</p>
			    <p>General expectations for We Are Utah Tech peeps:
					<ul class="a">
						<li>some published work or portfolio available online</li>
						<li>you are local!</li>
						<li>willing to upload a bio and pic</li>
						<li>you are active in the tech community</li>
						<li>you love lamp</li>
					</ul>
				</p>
				<form action="javascript:void(0);">
		  			<fieldset>
		  				<legend>Contact Info (private)</legend>
		  					Contact Email: <input type="text"><br>
					  		Best method of contact: 
					  		<select>
					  			<option>Google Hangout</option>
					  			<option>Skype</option>
					  			<option>Phone</option>
					  			<option>Lunch</option>
					  		</select>

			  				Message:
							<textarea style="width:300px;"></textarea>
		  			</fieldset>
		  		</form>
			</div>
		</div>
		<div class="right_col">
			<form action="javascript:void(0);">
	  			<fieldset>
	  				<legend>Profile Info (public)</legend>
	  					First Name: <input type="text"><br>
				  		Last Name: <input type="text"><br>
				  		Date of Birth: <input type="text"><br>
						Tagline: <input type="text"><br>
						Employer: <input type="text"><br>
						Website: <input type="text"><br>
						Twitter: <input type="text"><br>
	  				<legend>Occupation</legend>
	  					<div id="occupations">
		  					<button class="btn" id="dev">Developer</button>
		  					<button class="btn" id="design">Designer</button>
		  					<button class="btn" id="founder">Founder</button>
		  					<!--
		  					<button class="btn btn-info">Investors</button>
		  					<button class="btn btn-info">Executive</button>
		  					<button class="btn btn-info">Business People</button>
		  					<button class="btn btn-info">Educators</button>
		  					-->
	  					</div>
	  				<legend>Specialty</legend>
	  					<div id="developer-skills">
	  						<h5>Developer Skills</h5>
		  					<button class="btn btn-info">Ruby</button>
		  					<button class="btn btn-info">JavaScript</button>
		  					<button class="btn btn-info">Java</button>
		  					<button class="btn btn-info">Objective-C</button>
		  					<button class="btn btn-info">PHP</button>
		  					<button class="btn btn-info">C++</button>
		  					<!-- <button class="btn btn-info">C#</button> -->
		  					<button class="btn btn-info">Android</button>
	  					</div>
	  					<div id="designer-skills">
	  						<h5>Designer Skills</h5>
	  						<button class="btn btn-info">Web Design</button>
		  					<button class="btn btn-info">Illustration</button>
		  					<button class="btn btn-info">jQuery</button>
		  					<button class="btn btn-info">Typography</button>
		  					<button class="btn btn-info">Logo Design</button>
		  					<button class="btn btn-info">UX</button>
		  					<button class="btn btn-info">UI Design</button>
		  					<button class="btn btn-info">Branding</button>
		  					<button class="btn btn-info">Animation</button>
		  					<button class="btn btn-info">Photoshop</button>
		  					<button class="btn btn-info">Illustrator</button>
		  					<button class="btn btn-info">CSS</button>
		  					<button class="btn btn-info">Flash</button>
		  				</div>
		  				<div id="founder-skills">
		  					<h5>Founder Skills</h5>
		  					<button class="btn btn-info">Business Dev</button>
		  					<button class="btn btn-info">Tech Lead</button>
		  					<button class="btn btn-info">CEO's</button>
		  					<button class="btn btn-info">Lawyers</button>
		  					<button class="btn btn-info">Director</button>
		  				</div>
		  			<legend>Bio</legend>
		  				<textarea style="width:300px;"></textarea>
						
					Other links: <input type="text"><br>
		  				<button class="btn-large btn-success">Submit</button>
	  			</fieldset>
	  		</form>
		</div>
	</div>
</div>
<script>
	$(function(){
		$('#developer-skills').hide();
		$('#founder-skills').hide();
		$('#designer-skills').hide();

		$('#occupations button').on('click',function(){
			var val = $(this).attr('id');
			console.log(val);
			if(val === 'dev'){
				$('#developer-skills').show();
				$('#designer-skills').hide();
				$('#founder-skills').hide();
			}	
			if(val === 'design'){
				$('#developer-skills').hide();
				$('#designer-skills').show();
				$('#founder-skills').hide();
			}	
			if(val === 'founder'){
				$('#developer-skills').hide();
				$('#designer-skills').hide();
				$('#founder-skills').show();
			}	
		});

		$('button').on('click',function(){
			console.log($(this).text());
			$(this).removeClass("btn-info");
			$(this).addClass("btn-primary");
		});

	});
	
</script>