<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Headline</th>
    <th>Title</th>
    <th>Employer</th>
    <th>Bio</th>
    <th>Birthday</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.headline %></td>
    <td><%= profile.title %></td>
    <td><%= profile.employer %></td>
    <td><%= profile.bio %></td>
    <td><%= profile.birthday %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
