<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag(@profile.photo_url, :width => 600) if @profile.photo.present? %>
  
</p>

<p>
  <b>Headline:</b>
  <%= @profile.headline %>
</p>

<p>
  <b>Title:</b>
  <%= @profile.title %>
</p>

<p>
  <b>Employer:</b>
  <%= @profile.employer %>
</p>

<p>
  <b>Bio</b>
  <%= @profile.bio %>
</p>
<p>
  <b>Birthday:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Contact Email:</b>
  <%= @profile.contact_email %>
</p>

<p>
  <b>Private Message:</b>
  <%= @profile.message %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
