<h2>about us</h2>

<p>Big things are happening in Utah. Inspired by the thriving tech community in <a href="http://wearenytech.com">New York</a>, We Are Utah Tech features the people who are making it happen here in Utah.</p>

<p>We'll feature new projects, people and designs frequently. Take a few minutes to look around, check out new work, and a possibly meet your next tech partner. Created by <a href="https://twitter.com/sethhoward22">@sethhoward22</a>, <a href="https://twitter.com/jpotts18">@jpotts18</a>, and <a href="https://twitter.com/kyle_clegg">@kyle_clegg</a>.</p>

<div class="twitter"></div>