<div class="image"><img src="{{ image }}"></div>
<div class="username">{{ username }}</div>
<div class="content">{{ content }}</div>
<div class="timestamp">{{ timestamp }}</div>
<div class="logo"></div>