<h1>Listing occupations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @occupations.each do |occupation| %>
  <tr>
    <td><%= occupation.name %></td>
    <td><%= link_to 'Show', occupation %></td>
    <td><%= link_to 'Edit', edit_occupation_path(occupation) %></td>
    <td><%= link_to 'Destroy', occupation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Occupation', new_occupation_path %>
