<!-- Written By Seth Howard -->

<div class="contact-page">
  <div class="subheader">
    <div class="content">
      <div class="title">Join Us!</div>
      <div class="sub-title">Become a part of the local tech scene and help us showcase what Utah has to offer.</div>
    </div>
  </div>
  <div class="contact-content">
    <div class="left-bar">
		<div class ="join-text">
			Doing big things in the 801? Include links to relevant sites, apps, or profiles that showcase your work, open-source contributions, and community involvement. <p>We'll contact you soon for a brief Q&A or hangout. 
		</div>
      <div class="utah-skyline"></div>
	  <!-- <div class="floating-text">
        <div class="questions">questions ?</div>
        <div class="comments">comments</div>
        <div class="ideas">ideas</div>
        <div class="jokes">jokes</div>
        <div class="tell-us">tell us about it.</div>
      </div> -->
    </div>
    <div class="right-bar">
      <%= form_for @message, :url => contact_path do |form| %>
        <table>
          <tr>
            <td><%= form.label :name %></td>
            <td><%= form.text_field :name %></td>
          </tr>
          <tr>
            <td><%= form.label :email %></td>
            <td><%= form.text_field :email %></td>
          </tr>
          <tr>
            <td><%= form.label :subject %></td>
            <td><%= form.text_field :subject %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= form.text_area :body %></td>
          </tr>
          <tr>
            <td></td>
            <td class="center contact-submit"><%= form.submit "Send", :class => 'button' %><div class="loader"></div></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <script src="/assets/contact.js" type="text/javascript"></script>
</div>