// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";


.wrap {
   width:720px;
   margin:0 auto;
}
.left_col {
   float:left;
   width:350px;
   margin-right:10px;
}
.right_col {
   float:right;
   width:350px;
   margin-left:10px;
}

img {
	max-width: 300px;
}