/*Written By Seth Howard*/

$commonFont: #222;

$gray1: #737373;
$gray2: #9d9d9d;
$gray3: #575757;

$blue1: #6A92D4;
$blue2: #4479D4;
$blue3: #1049A9;
$blue4: #052C6E;

$purple: #3914af;
$orange: #ae4217;

@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin no-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin select {
	-webkit-touch-callout: normal;
	-webkit-user-select: normal;
	-khtml-user-select: normal;
	-moz-user-select: normal;
	-ms-user-select: normal;
	user-select: normal;	
}

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}

@mixin box-shadow($boxshadow){
	-moz-box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}

@mixin border-radius($border){
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: $border; 

  /* Firefox 1-3.6 */
  -moz-border-radius: $border; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: $border; 
}

@mixin rotate($rotation){
	 -moz-transform: rotate($rotation);  /* FF3.5+ */
       -o-transform: rotate($rotation);  /* Opera 10.5 */
  -webkit-transform: rotate($rotation);  /* Saf3.1+, Chrome */
      -ms-transform: rotate($rotation);  /* IE9 */
          transform: rotate($rotation);
}




