<!-- <div id="footer">
	<div class="content">
		<div class="links">
			<ul>
				<li><%= link_to "About", about_path %></li> |
				<li><%= link_to "FAQ", faq_path %></li> |
				<li><%= link_to "Terms", terms_path %></li> |
				<li><%= link_to "Tweets", tweets_path %></li>
			</ul>
		</div>
		<div class="social">
			<a href="http://www.twitter.com" target="_blank">
				<div class="twitter"><img src="/assets/twitter.png"></div>
			</a>
			<a href="http://www.facebook.com" target="_blank">
				<div class="facebook"><img src="/assets/facebook.png"></div>
			</a>
			<a href="http://www.googleplus.com" target="_blank">
				<div class="google-plus"><img src="/assets/gplus.png"></div>
			</a>
			<a href="http://www.linkedin.com" target="_blank">
				<div class="linked-in"><img src="/assets/linkedin.png"></div>
			</a>
		</div>
		<div class="copyright">
			Copyright 2013 We Are Utah Tech
		</div>
	</div>
</div> -->