<!-- <div class="header">
  <div class="content">
    <div class="sign-in sign-in-box">
      <div class="sign-in triangle"></div>
      <div class="sign-in google-login">Login with Google</div>
      <div class="sign-in facebook-login">Login with Facebook</div>
    </div>
    <div class="logo">
      <%= link_to "We Are Utah Tech", '/', id: "logo" %>
    </div>
    <div class="links">
      <ul>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Join", contact_path %></li>
        <li><div class="sign-in sign-in-link">Sign in</div></li>
      </ul>
    </div>
  </div>
</div> -->
